.root{
    -fx-background-color: #1d1d1d;
}
.button{
    -fx-background-color: #355065;
    -fx-text-fill: #FFFFFF;
}
.label{
    -fx-text-fill: #FFFFFF;
}
.text-field{
    -fx-background-color: rgba(53,89,119,0.0);
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;
}